.menuIconContainer {
    cursor: pointer;
}

.menuIcon {
    width: 30px;
}

.menuIcon .cls-1 {
    stroke:#c4c4c4;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:2px;
    fill:none;
    transition: all 400ms ease-in-out, stroke 400ms ease-in-out;
}

.darkMode .menuIcon .cls-1 {
    stroke:#707070;
}

/* animations ========================================================= */

/* menu stage 1 */
.menuIcon .smallBar {
    stroke-dasharray: 11 100;
    stroke-dashoffset: 0;
}

.menuIcon .path {
    stroke-dasharray: 13 100;
    stroke-dashoffset: -12;
}

.menuIcon .main {
    stroke-dasharray: 25 100;
    stroke-dashoffset: -12;
}

/* menu stage 2 */
.menuStage2 .menuIcon .smallBar {
    stroke-dasharray: 25 100;
    stroke-dashoffset: 18;
}

/* menu stage 3 */
.menuStage3 .menuIcon .smallBar {
    stroke-dasharray: 2 100;
    stroke-dashoffset: -25;
}

.menuStage3 .menuIcon .main {
    stroke-dasharray: 25 100;
    stroke-dashoffset: 0;
    transition: stroke-dasharray 400ms ease-in-out 200ms, stroke-dashoffset 400ms ease-in-out 200ms, stroke 400ms ease-in-out;
}

.menuStage3 .menuIcon .path {
    stroke-dasharray: 12 100;
    stroke-dashoffset: -57;
    transition: stroke-dasharray 400ms ease-in-out 200ms, stroke-dashoffset 400ms ease-in-out 200ms, stroke 400ms ease-in-out;
}

/* menu stage 4 */
.menuStage4 .menuIcon .smallBar {
    stroke-dasharray: 11 100;
    stroke-dashoffset: 0;
    transition: stroke-dasharray 400ms ease-in-out 150ms, stroke-dashoffset 400ms ease-in-out 150ms, stroke 400ms ease-in-out;
}

.menuStage4 .menuIcon .path {
    stroke-dasharray: 13 100;
    stroke-dashoffset: -12;
}

.menuStage4 .menuIcon .main {
    stroke-dasharray: 25 100;
    stroke-dashoffset: -12;
}