/* main animations =======================================================================*/
/* should not be component specific */
.panel-fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.panel-fade-out {
    opacity: 0;
    transform: translateY(100px);
}

.transition-400 {
    transition: all 400ms ease-in-out;
}