/* global CSS here */
body {
    /* setting main CSS variables */
    --main-color: #F89C1B;
    --main-title-color: #9E9E9E;
    --main-text-color: #AFAFAF;
    --header-color: #ffffff;
    --side-bar-color: #ffffff;
    --dashBoard-bg-color: #F1F1F3;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: var(--main-text-color, #AFAFAF);
}

.mainDashBoard.darkMode {
    --main-text-color: #707070;
    --header-color: #242225;
    --side-bar-color: #242225;
    --dashBoard-bg-color: #1B191C;
    color: var(--main-text-color, #707070);
}

/* text CSS */
.title {
    color: var(--main-title-color, #9E9E9E);
}

i {
    color: var(--main-text-color, #AFAFAF);   
}

/* buttons */
.dt-btn {
   border: unset;
   color: #ffffff;
   padding: 10px 20px;
   background-color: #F89C1B; 
   border-radius: 7px;
   cursor: pointer;
   outline: none;
   box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.12);
   transition: all 400ms ease-in-out;
}

.dt-btn:hover {
    color: #ffffff;
    background-color: #df8b16;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0); 
 }