.header {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background-color: var(--header-color, #ffffff);
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.12);
    transition: all 400ms ease-in-out;
}

.header_logo_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo {
    height: 60px;
    cursor: pointer;
}

.header_left_container {
    position: absolute;
    left: 0;
    padding-left: 37px;
}

.header_right_container {
    position: absolute;
    right: 0;
    padding-right: 25px;
}

.header_right_container {
    display: flex;
}

.header_right_container :nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_lightBulb_toggle {
    position: relative;
    margin: 0px 15px;
    height: 30px;
    background-color: #F1F1F3;
    width: 114px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.darkMode .header_lightBulb_toggle {
    background-color: #1B191C;
}

.header_lightBulb_toggle div {
    position: absolute;
    top: 0;
    right: 0;
    height: 28px;
    width: 56px;
    background-color: var(--header-color, #ffffff);
    border-radius: 20px;
    border: 1px solid #E3E3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
}

.darkMode .header_lightBulb_toggle div {
    right: 56px;
    border: 1px solid #1B191C;
}    

.header_lightBulb_toggle img {
    position: absolute;
    top: 3px;
}

.header_lightBulb_toggle i {
    position: absolute;
    top: 6px;
    font-size: 20px;
}

