.container {
    position: relative;
}

.svg {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 22px;
    cursor: pointer;
}

.container i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #c5c5c5;
    cursor: pointer;
}

.cls1, .cls2 {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.cls1 {
    stroke: #fff;
    stroke-width: 6px;
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    animation-fill-mode: forwards; 
}

.cls2 {
    stroke: #c5c5c4;
    stroke-width: 3px;
    stroke-dasharray: 170;
    stroke-dashoffset: 170;
    animation-fill-mode: forwards; 
}