/* main slash ------------------------------------------------------------------*/
.eyeSlash .cls2 {
    animation-name: slash;
    animation-duration: 1s; 
    animation-timing-function: cubic-bezier(0.42, 0, 0.07, 1.12);
    animation-delay: 0.3s;
    /* display: none;  */
}

@keyframes slash {
    0% {
        stroke-dashoffset: 170;
    }
    100% {
        stroke-dashoffset: -120; 
    }
}

.eyeSlashHold .cls2 {
    stroke-dashoffset: -120;
}

.eyeSlashOff .cls2 {
    animation-name: slashOff;
    animation-duration: 1s; 
    animation-timing-function: cubic-bezier(0.42, 0, 0.07, 1.12);
    animation-delay: 0.3s;
    /* display: none;  */
}

@keyframes slashOff {
    0% {
        stroke-dashoffset: -120;
    }
    100% {
        stroke-dashoffset: 170; 
    }
}

/* white slash ----------------------------------------------------------------*/
.eyeSlash .cls1 {
    animation-name: whiteSlash;
    animation-duration: .5s; 
    animation-timing-function: cubic-bezier(0.42, 0, 0.07, 1);
    animation-delay: 0.5s;
    /* display: none;  */
}

@keyframes whiteSlash {
    0% {
        stroke-dashoffset: -40;
    }
    100% {
        stroke-dashoffset: 0; 
    }
}

.eyeSlashHold .cls1 {
    stroke-dashoffset: 0;
}

.eyeSlashOff .cls1 {
    animation-name: whiteSlashOff;
    animation-duration: .4s; 
    animation-timing-function: cubic-bezier(0.42, 0, 0.07, 1);
    animation-delay: 0.4s;
    /* display: none;  */
}

@keyframes whiteSlashOff {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -40; 
    }
}

