/* starting animation ================================================================= */
.login-fade{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1000ms ease-in-out, transform 600ms ease-in-out, width 400ms ease-in-out;
    animation-fill-mode: forwards;
}



/* enter ================================================================= */
.login-fade-enter {
    opacity: 0;
}

.login-fade-enter-active {
    opacity: 1;
}

.login-fade-enter-done {
    opacity: 1;
}

/* exit ================================================================= */

.login-fade-exit {
    opacity: 1;
}

.login-fade-exit-active {
    opacity: 0;
}

.login-fade-exit-done {
    opacity: 0;
}

/* appear ================================================================= */

/* login-fade -------------- */
.login-fade-appear{
    opacity: 0;
}

.login-fade-appear-active{
    opacity: 1;
    transform: translateY(0px);
}

.login-fade-appear-done{
    opacity: 1;
    transform: translateY(0px);
}

/* login-form-container -------------- */
.login-form-container-appear-active{
    animation-name: login-enter;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.05, 1.1);
    animation-delay: .5s;
}

.login-form-container-appear-done{
    bottom: calc(50% - 100px);
}
