/* login container */
.ll_loginContainer {
    position: relative;
    width: 80%;
    max-width: 1000px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 11px 8px 13px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    transform: translateY(100px);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out, width 400ms ease-in-out;
    overflow: hidden;
}

.ll_loginContainer > div {
    box-sizing: border-box;
}

/* login message */
.ll_loginMessage {
    background-position: -400px;
    background-repeat: no-repeat;
    background-size: 1000px;
    min-height: 380px;
    width: 34%;
    color: #ffffff;
    padding: 55px 75px 55px 35px;
    border-radius: 15px 0px 0px 15px;
}

.ll_loginMessage h1 {
    font-size: 25px;
 }

.ll_loginMessage p {
   font-size: 12px;
}

/* login form */
.ll_loginForm {
    width: 67%;
    padding: 35px 45px 35px 55px;
    background-color: #ffffff;
    min-height: 380px;
    border-radius: 0px 15px 15px 0px;
    transition: padding 400ms ease-in-out, min-height 400ms ease-in-out;
}

.ll_logoContainer {
    position: relative;
    height: 71px;
}

.ll_cogs {
    position: absolute;
    top: 0px;
    left: 0px;
}

.ll_success input {
    border-color: #62bb46;
}

.ll_error input {
    border-color: #FF0909;
}

.ll_error label {
    color: #FF0909;
}

.ll_errorMessage {
    position: absolute;
    top: 127px;
    right: 54px;
    color: #FE8787;    
}

.ll_loginLogo {
    position: absolute;
    top: 2px;
    left: 24px;
    max-width: 200px;
    transition: max-width 400ms ease-in-out;
}

.ll_success .ll_logoLight {
    position: absolute;
    top: 35px;
    left: 52px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffda;
    box-shadow: 
        0 0 20px 15px #fff, 
        0 0 39px 22px #f8fa7a, 
        0 0 90px 18px #f5f79c;
    opacity: 0;
    animation: lightUp 1000ms ease-in-out 800ms forwards;
}

@keyframes lightUp {
    to {
        opacity: 1;    
    }
}

.ll_loginForm .ll_formBtn {
    font-size: 14px;
    padding: 10px 55px;
}

.ll_formBtnContainer {
    text-align: right;
}

@media screen and (max-width: 1100px) {
    .ll_loginMessage {
        padding: 55px 35px 55px 35px;
    }
}

@media screen and (max-width: 1000px) {
    .ll_loginContainer {
        display: block;
        align-items: unset;
        justify-content: unset;
    }

    .ll_loginMessage {
        display: none;
    }

    .ll_loginForm {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .ll_errorMessage {
        display: none;    
    }
}

@media screen and (max-width: 560px) {
    .ll_loginContainer {
        width: 90%;
    }

    .ll_loginForm {
        padding: 35px 25px 35px 25px;
        min-height: 300px;
    }

    .ll_loginLogo {
        max-width: 225px;
    }

    .ll_logoContainer {
        height: 82px;
    }
}